@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Favorite Song</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <h1>Welcome to My Favorite Song Page!</h1>

    <!-- Embedded YouTube video -->
    <div class="video-container">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/jBg--N_GRdo" frameborder="0" allowfullscreen></iframe>
        <br>Metallica - Seek And Destroy
        <br><br><br>


    </div>

    <div class="video-container">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/vNsEEvRMtGI" frameborder="0" allowfullscreen></iframe>
        <br>Queen - Love Of My Life
        <br><br><br>
    </div>

    <div class="video-container">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/0a99Pe1qZ_0" frameborder="0" allowfullscreen></iframe>
    </div>
    Red Hot Chili Peppers - Under The Bridge


    <!-- JavaScript Animation Element
    <div class="animation-box">
        <p>Click me for Animation!</p>
    </div>

    <script src="site.js"></script>-->

</body>
</html>
