body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.video-container {
    margin: 20px auto;
}

.animation-box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

    .animation-box:hover {
        transform: scale(1.1);
    }
